<router-outlet></router-outlet>


<h1 [class.text-red] = "bool">Angular latest app 16</h1>

<!--
<h1 [style.color]= "bool? 'red' :'blue'"> style binding</h1>

<button (click)="buttonClick()" >Click me</button>

<div></div>-->

<!--Event binding-->





<!-- long method-->
<!---<input type="text" (keyup)="onKeyup($event)" >-->

<!-- 1 Easy method -->

<!--<input type="text" (keyup.enter)="onKeyup()" >-->

<!--Pass methods -->


<!-- 2 method old opproach-->
<!-- <input type="text" (keyup.enter)="onKeyup($event)" > -->




<!-- 2 method Clean opproach-->

<!--<input type="text" (keyup.enter)="onKeyup(username.value)" #username> -->


<!-- #username # Template vereble in angular -->

<!--
<input type="text" [(ngModel)] = "userName" (keyup.enter)="onKeyup()">
-->




<!-- Two way data binding  goes here-->


<!--   One way Data Binding

  *Component ---- UniDirection ------- View(Html)

  Can only bind the data Component to view

-->



<!--
<input type="text" [value] = 'textValue' (keyup.enter) = "onKeyup()">


<input type="text" [(ngModel)] = "textValue" (keyup.enter)="onKeyup">

-->


<!--

  My example

<input placeholder="Post title" type="text" [(ngModel)]="modeltitle">

<br/>
<br/>
<textarea type="textarea" placeholder="Post Description" [(ngModel)]="postdes" rows="4"  cols="40"></textarea>
<br/>
<br/>
<input type="url" placeholder="post img URL"[(ngModel)] = 'urlpost'  >
<br>
<br>
<input type="url" [(ngModel)] = 'linkurl' placeholder="post URL link">
<br>
<br>
<input type="checkbox" id="check-one"><label id="check-one">Add background</label>

<br/>


<h1>{{modeltitle}}</h1>

<p>{{postdes}}</p>

<img [src]="urlpost" alt="Place image title">

<a [routerLink]="linkurl"></a>


-->


<!--
<input type="text" [(ngModel)]="value">
<span>{{value}}</span>
-->







<div class="form-area">
<h1>Post form</h1>
<br/>
<br/>
<input type="text" placeholder="Title post" [(ngModel)]="PostTitle">
<br/>
<br/>
<textarea type="textarea" placeholder="Post Description"  rows="4"  cols="40" [(ngModel)]="PostDetails"></textarea>
<br/>
<br/>
<input type="url" placeholder="post img URL" [(ngModel)]="imageURL">
<br/>
<br/>
<input type="url" placeholder="post URL link" [(ngModel)]="postURL">
<br/>
<br/>
<input type="checkbox" id="check-one" [(ngModel)]="addBackground"><label id="check-one">Add background</label>

</div>

 <div class="preview-are">
<h1 ><span [class.add-background]= "addBackground" >{{PostTitle}}</span></h1>
<p>{{PostDetails}}</p>
<img [src]="imageURL" alt="any image url"><br/>
<a [href]="postURL" target="_blank" [style.display]= "postURL ? 'block':'none' ">Moredetails</a>
 </div>
