

.text-red {
  color: red;
}



.form-center {
padding: 40px 20px;

}
input {
  color:#000;
}
.form-center textarea{
display: block;
margin-bottom: 20px;
margin-top:20px;
}


.form-area, .preview-are {

  padding-top: 40px;
  text-align: center;

}

.add-background {
  background: yellow;
  padding: 5px;
}
